body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
}

img {
    width: 600px;
}

li {
    list-style: none;
}

button {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 500;
    background-color: #3882f6;
    border-style: none;
    padding: 8px 32px;
    border-radius: 8px;
}

.content-1, .content-2, .content-3, .content-4, .footer {
    padding-left: 16vh;
    padding-right: 16vh;
}

.content-1,
.footer {
    background-color: #1F2937;
    color: white;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    color: #e5e7eb;
    font-weight: 600;
}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

 .main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secondary-text,
.right-links a {
    font-size: 18px;
    color: #E5E7EB
}

.secondary-text {
    margin: 8px 0px;
}

.content-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
    padding-top: 1%;
    margin: 0;
}

.header{
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 8px 0px;
}

.right-links {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.content-2,
.content-4 {
    background-color: white;
    padding: 10%;
}

.content-3 {
    background-color: #E5E7EB;
}

.content-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
}

.quote {
    display: flex;
    flex-direction: column;
    flex-direction: center;
    padding: 10%;
    border-radius: 4px 4px;
}

.words {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.speaker {
    font-weight: bold;
    text-align: right;
}

.action {
    display: flex;
    justify-content: center;
    background-color: #3882F6;
    color: white;
    justify-content: space-between;
    gap: 200px;
    border-radius: 4px 4px;
    padding: 35px 25px 35px 25px;
}

.text-signup {
    font-size: small;
    color: #E5E7EB;
}

.content-signup {
    border-style: solid;
    border-color: #e5e7eb;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5%;
}

.content-2 {
    flex-direction: column;
    text-align: center;
}

.random-info {
    padding-bottom: 32px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937
}

.content-cards {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.card {
    width: 150px;
}

.card div {
    border-style: solid;
    border-color: #3882f6;
    width: auto;
    height: 150px;
    border-radius: 16px;
} 

.header-hero {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 40px;
    gap: 30px;
}

.content-1-words,
.img-container {
    flex-basis: 50%;
}

.content-1-words {
    flex-basis: 40%;
    padding: 20px;
}
.img-container {
    display: flex;
    background-color: #606e82;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-basis: 50%
}

  